<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Fullstack TypeScript App</title>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>
<body>
<div id="root"></div>

<script src="/assets/vendors~main.chunk.js"></script>
<script src="/assets/main.bundle.js"></script>
</body>
</html>